{% extends "competition/base.html" %}
{% load bootstrap3 %}

{% block title %}
 - {{ comp.title }}
{% endblock title %}

{% block nav %}
{% if comp.end_time < now %}
<li><a href="{% url 'standings' comp.id %}">Standings</a></li>
{% endif %}
{% endblock nav %}

{% block content %}
<h1 class="header">{{ comp.title }}</h1>
<h4 class="sub-header">
    {{ comp.description|linebreaks }}
</h4>
<div class="container">
    <h5>Problems:</h5>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>Title</th>
                <th>Score</th>
            </thead>
            <tbody>
                {% for prob in probs %}
                    <tr>
                        <td><a href="{% url 'prob_detail' prob.id %}">{{ prob.title }}</a></td>
                        <td>{{ prob.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if comp.start_time > now %}
    {% if comp.author.id != user.id %}
        <p>Please register after the competition starts.</p>
    {% else %}
        <a href="{% url 'new_prob' comp.id %}">Add a problem</a>
    {% endif %}
{% elif comp.end_time < now %}
    {% if not registered %}
        <p>The competition is ended.</p>
    {% else %}
        <h2>
            Your score is {{ record.score }} .
        </h2>
    {% endif %}
{% else %}
    {% if not registered %}
        <a class="btn btn-primary" href="{% url 'register_comp' comp.id %}">Register</a>
    {% endif %}
{% endif %}
{% endblock content %}