{% extends "competition/base.html" %}
{% load bootstrap3 %}

{% block title %}
 - {{ comp.title }}
{% endblock title %}

{% block content %}
<h1 class="header">{{ comp.title }}</h1>
<h4 class="sub-header">
    {{ comp.title|linebreaks }}
</h4>
<div class="container">
    <h5>Problems:</h5>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>Title</th>
            </thead>
            <tbody>
                {% for prob in probs %}
                <tr>
                    <td><a href="{% url 'prob_detail' prob.id %}">{{ prob.title }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if comp.start_time < now %}
    <p>Please register after the competition starts.</now>
    {% elif comp.end_time > now %}
    <p>The competition is ended.</p>
    {% else %}
    {% if not registered %}
    <a class="btn btn-primary" href="{% url 'register_comp' comp.id %}">Register</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}