{% extends "competition/base.html" %}
{% load bootstrap3 %}

{% block title %}
 - Index
{% endblock title %}

{% block content %}
<h1>Welcome to Math Competition!</h1>
<div class="container">
    <h2 class="sub-header">All competitions:</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Holder</th>
                    <th>State</th>
                    <th>Start Time</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>
                {% for c in comps %}
                <tr>
                    <td><a href="{% url 'comp_detail' c.id %}">{{ c.title }}</a></td>
                    <td>{{ c.auther.username }}</td>
                    <td>
                        {% if c.start_time > now %}
                            Upcoming
                        {% elif c.end_time < now %}
                            Finished
                        {% else %}
                            Running
                        {% endif %}
                    </td>
                    <td>{{ c.start_time|date:'M d, Y H:i' }}</td>
                    <td>{{ c.end_time|date:'M d, Y H:i' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}